// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// breakpoints
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #1e282e;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --white-text-color: #fff;
    --black-text-color: #000;
    --primary-header-color: #2f8cf3;
    --primary-color: #2f8cf3;
    --primary-chat-background-color: {
        background: rgb(143,199,247);
        background: linear-gradient(143deg, rgba(143,199,247,1) 41%, rgba(146,0,194,1) 67%);
    }
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    scroll-behavior: smooth;
    width: 100vw;
    text-align: center;
}

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

@mixin respond-to($breakpoints) {
    @media only screen and (max-width: $breakpoints) {
        @content;
    }
}

/******************************/
/* Set for scrollbar - thanh cuộn */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    @include respond-to($mobile) {
        width: 0;
        height: 0;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.App {
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}
.active {
    opacity: 1 !important;
}
