// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// breakpoints
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #1e282e;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --white-text-color: #fff;
    --black-text-color: #000;
    --chat-sidebar-color: #e0e1ff;
    --chat-sidebar-dark-color: #1f1f22;
    --chat-content-dark-color: #1a1a1e;
    --primary-header-color: #2f8cf3;
    --primary-color: #2f8cf3;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
    --icon-color: #b2c9e4;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    scroll-behavior: smooth;
    width: 100vw;
    text-align: center;
}

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

@mixin respond-to($breakpoints) {
    @media only screen and (max-width: $breakpoints) {
        @content;
    }
}

/******************************/
/* Set for scrollbar - thanh cuộn */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
.App {
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}
.active {
    opacity: 1 !important;
}

.Toastify__toast--error {
    color: #EB5757 !important;
    border: 1px solid #EB5757;
    border-radius: 50px !important;
    background: #FAE1E2 !important;
}
.Toastify__toast--error::after {
  content : url('../assets/images/svg/closeToast.svg'); // Your svg Path
  position: absolute;
  color: #EB5757 !important;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  content: url("../assets/images/svg/errorToast.svg");// Your svg Path
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success {
    color: #3A9EA5 !important;
  border: 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
}
.Toastify__toast--success::before {
  content: url("../assets/images/svg/successToast.svg");// Your svg Path
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success::after {
  content : url('../assets/images/svg/closeToast.svg');// Your svg Path
  position: absolute;
  color: #3A9EA5 !important;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
    corlor: #E78326;
  border: 1px solid #E78326  !important;
  border-radius: 50px !important;
  background: #FADFC5 !important;
}
.Toastify__toast--warning::before {
  content: url("../assets/images/svg/warnToast.svg");// Your svg Path
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}  
.Toastify__toast--warning::after {
  content : url('../assets/images/svg/closeToast.svg'); // Your svg Path
  position: absolute;
  color: #E78326;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444C63    ;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
} 
.Toastify__toast > button>  svg {
    display: none;
}

textarea {
    resize: none;
    &.auto {
        overflow-y: hidden;
    }
}

// Some styles

textarea {
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-family: 'Inter';
    line-height: 30px;
    min-height: 40px;
    border-radius: 5px;
    color: #404660;
    background: #fff;
    transition: box-shadow .25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    resize: none;
    bottom: 0;
    left: 0;
    &:focus {
       --focus-color: #ECEFFC;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; 
    }
    &:focus,
    &:hover {
        --border-color: #BBC1E1;
    }
}


pre {
    margin: 60px 0 0 0;
    padding: 20px 24px;
    border-radius: 15px;
    background: #171827;
    code {
        font-family: 'Fira Mono';
        color: #BBC1E1;
        line-height: 1.4;
        font-size: 12px;
        .token {
            &.function {
                color: #5C86FF;
            }
            &.string {
                color: #F0B849;
            }
            &.parameter {
                color: #CB7DD0;
            }
            &.punctuation {
                color: #8A91B4;
            }
        }    
    }
}

.bubble {
	// layout
	position: relative;
	max-width: 30em;
	
	// looks
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    &::before {
        // layout
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1.5em; // offset should move with padding of parent
        border: .75rem solid transparent;
        border-top: none;

        // looks
        border-bottom-color: #fff;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
}
.bubble-shadow {
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
