
$color: #b2c9e4;
// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

@mixin respond-to($breakpoints) {
    @media only screen and (max-width: $breakpoints) {
        @content;
    }
}

.container {
    
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
    @include respond-to($mobile) {
        display: none;
    }
    ul li {
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 1.5em;
        cursor: pointer;
        padding: 10px;
        background: rgb(43, 43, 43);
        position: relative;
        color: white;
        border-radius: 5px;
    }
    ul li::before,
    ul li::after {
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 5px;
        width: 105%;
        transition: all 0.4s;
    }
    ul li::before {
        left: 0%;
        height: 130%;
        background: linear-gradient(to right, #021B79, #0575E6);
    }
    ul li::after {
        left: -10%;
        height: 120%;
        background: #ffffff56;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
    }
    ul li:hover::before {
        transform: translateX(-2.5%);
    }
    ul li:hover::after {
        transform: translateX(15%);
    }
    
    svg {
        margin-left: 10px;
        color: $color;
        width: 20px;
        height: 20px;
        &:hover {
            cursor: pointer;
            color: #0575E6;
            transition: color 1s ease;
            fill: none;
            
            stroke-width: 1.5px;
            stroke-dashoffset: 212.908 + 59;
            stroke-dasharray: 59 212.908;
        }
    }

    
}

.search {
    display: table;
    input {
        background: none;
        border: none;
        outline: none !important;
        width: 30px;
        min-width: 0;
        padding: 0;
        z-index: 1;
        position: relative;
        line-height: 20px;
        margin: 5px 0;
        font-size: 20px;
        -webkit-appearance: none;
        font-family: 'Mukta Malar';
        transition: all .6s ease;
        cursor: pointer;
        color: $color;
        
        &:focus {
            box-shadow: none !important;
        }
    
        & + div {
            position: relative;
            height: 30px;
            width: 100%;
            margin: -28px 0 0 0;
            svg {
                display: block;
                position: absolute;
                height: 28px;
                width: 160px;
                right: 0;
                top: 0;
                fill: none;
                stroke: $color;
                stroke-width: 1.5px;
                stroke-dashoffset: 212.908 + 59;
                stroke-dasharray: 59 212.908;
                transition: all .6s ease;
            }
        }
        &:not(:placeholder-shown),
        &:focus {
            width: 160px;
            padding: 0 4px;
            cursor: text;
            &+ div {
                svg {
                    stroke-dasharray: 150 212.908;
                    stroke-dashoffset: 300;
                }
            }
        }
    }
}

::selection {
    background: rgba(#fff, .2);
}
::-moz-selection {
    background: rgba(#fff, .2);
}

.header_links {
        margin-top: 15px;
        width: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
        transition: all 0.2s ease;
        & > span {
            padding-bottom: 3px;
            height: 100%;
            text-align: center;
            color: $color;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 5px solid transparent;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                opacity: 1;
                cursor: pointer;
                background-color: rgba(47, 140, 243, 0.05);
                border-color: rgba(47, 140, 243, 0.1);
            }
        }
        &_line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 6px;
            border-radius: 15px;
            background-color: $color;
            transition: all 0.2s ease;
        }
}

.wrapper {
	text-align: center;
    span {
		color: #fff;
		font-size: 25px;
        margin-top: 10px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
