.header {
    &_registration {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        & > a:first-child {
            width: 40%;
        }
        & > a:last-child { 
            letter-spacing: .05em;
            width: 50%;
        }
        &_button {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            position: relative;
            display: flex;
            border-radius: 20px;
            width: 75%;
            line-height: 30px;
            height: 30px;
            text-transform: uppercase;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                background: #3ad2d0;
                transition: background 0.2s linear;
                & > a:first-child {
                    transform: translateY(0);
                }
                & > a:last-child {
                    transform: translateY(-30px);
                }
            }
            & > a {
                background-color: #3894f4;
                position: absolute;
                width: 100%;
                transition: transform 0.5s ease;
                &:first-child {
                    color: #fff;
                    background-color: #3ad2d0;
                    transform: translateY(30px);
                }
                &:last-child {
                    transform: translateY(0px);
                }
            }
        }
    }
}
